.example-parent {
    border: 2px solid #ff640b;
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  .example-origin {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }
  
  .example-draggable {
    background-color: #ff640b;
    font-weight:normal;
    margin-bottom: 10px;
    margin-top:-5px;
    padding: 5px;
    
  }
  
  .example-dropzone {
    background-color: #ff640b;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
    position: absolute; top: 12px;
    position: absolute; left: 425px;
    position: absolute; right: 5px;
    
    
  }